<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="push.css">
    <link rel="stylesheet" href="ress.css">
    -->
    <title>push sample</title>
</head>
<body id="first">
    <div class="top">
        <img src="/assets/img2.jpg" alt="" width="200px" height="150px">
        <h1>時間管理アプリ</h1>
        <!--<p>時間を管理する</p>-->
    </div>

    <div class="detail">
        <div class="gen">
            <p>性別</p>
            <select name="female" id="" style="width: 50%;">
                <option value="">--</option>
                <option value="w">女性</option>
                <option value="m">男性</option>
                <option value="e">どちらでもない</option>
            </select>
        </div>
        <div class="age">
            <p>年齢</p>
            <input id="age" type="number" name="age" style="width: 50%;">
        </div>
        <div class="up">
            <p>起床時間</p>
            <input id="getup" type="time" name="getup" style="width: 50%;">
        </div>
        <div class="sleep">
            <p>就寝時間</p>
            <input id="sleep" type="time" name="sleep" style="width: 50%;">
        </div>
    </div>
    <button id="setBtn" class="button">はじめる</button>
    <!--<p id="date"></p>-->
    
    <!--
    <script src="application.js"></script>
    <script src="push.js"></script>
    -->
</body>
</html>